In [3]:
import pandas as pd

In [5]:
data=pd.read_csv('auto-mpg (1).csv')

In [8]:
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

Basic Array Operations

In [12]:
import numpy as np


mpg = data['mpg'].to_numpy()

mean_mpg = np.mean(mpg)
median_mpg = np.median(mpg)
std_mpg = np.std(mpg)
cars_above_25 = np.sum(mpg > 25)

In [13]:
print("Mean MPG:", mean_mpg)
print("Median MPG:", median_mpg)
print("Standard Deviation of MPG:", std_mpg)
print("Number of cars with MPG > 25:", cars_above_25)

Mean MPG: 23.514572864321607
Median MPG: 23.0
Standard Deviation of MPG: 7.806159061274433
Number of cars with MPG > 25: 158

2. Filtering

In [20]:
filtered = data[data['cylinders'] > 6]
car_names = filtered['car name'].tolist()
print("Cars with more than 6 cylinders:", car_names)

Cars with more than 6 cylinders: ['chevrolet chevelle malibu', 'buick skylark 320', 'plymouth satellite', 'amc rebel sst', 'ford torino', 'ford galaxie 500', 'chevrolet impala', 'plymouth fury iii', 'pontiac catalina', 'amc ambassador dpl', 'dodge challenger se', "plymouth 'cuda 340", 'chevrolet monte carlo', 'buick estate wagon (sw)', 'ford f250', 'chevy c20', 'dodge d200', 'hi 1200d', 'chevrolet impala', 'pontiac catalina brougham', 'ford galaxie 500', 'plymouth fury iii', 'dodge monaco (sw)', 'ford country squire (sw)', 'pontiac safari (sw)', 'chevrolet impala', 'pontiac catalina', 'plymouth fury iii', 'ford galaxie 500', 'amc ambassador sst', 'mercury marquis', 'buick lesabre custom', 'oldsmobile delta 88 royale', 'chrysler newport royal', 'amc matador (sw)', 'chevrolet chevelle concours (sw)', 'ford gran torino (sw)', 'plymouth satellite custom (sw)', 'buick century 350', 'amc matador', 'chevrolet malibu', 'ford gran torino', 'dodge coronet custom', 'mercury marquis brougham', 'chevrolet caprice classic', 'ford ltd', 'plymouth fury gran sedan', 'chrysler new yorker brougham', 'buick electra 225 custom', 'amc ambassador brougham', 'chevrolet impala', 'ford country', 'plymouth custom suburb', 'oldsmobile vista cruiser', 'chevrolet monte carlo s', 'pontiac grand prix', 'dodge dart custom', 'oldsmobile omega', 'ford gran torino', 'buick century luxus (sw)', 'dodge coronet custom (sw)', 'ford gran torino (sw)', 'amc matador (sw)', 'pontiac catalina', 'chevrolet bel air', 'plymouth grand fury', 'ford ltd', 'chevrolet monza 2+2', 'ford mustang ii', 'chevrolet chevelle malibu classic', 'dodge coronet brougham', 'amc matador', 'ford gran torino', 'plymouth volare premier v8', 'cadillac seville', 'chevy c10', 'ford f108', 'dodge d100', 'chevrolet caprice classic', 'oldsmobile cutlass supreme', 'dodge monaco brougham', 'mercury cougar brougham', 'pontiac grand prix lj', 'chevrolet monte carlo landau', 'chrysler cordoba', 'ford thunderbird', 'oldsmobile cutlass salon brougham', 'dodge diplomat', 'mercury monarch ghia', 'chevrolet monte carlo landau', 'ford futura', 'dodge magnum xe', 'chevrolet caprice classic', 'ford ltd landau', 'mercury grand marquis', 'dodge st. regis', 'buick estate wagon (sw)', 'ford country squire (sw)', 'chevrolet malibu classic (sw)', 'chrysler lebaron town @ country (sw)', 'cadillac eldorado', 'oldsmobile cutlass salon brougham', 'oldsmobile cutlass ls']

In [21]:
print("Cars with more than 6 cylinders:", car_names)

Cars with more than 6 cylinders: ['chevrolet chevelle malibu', 'buick skylark 320', 'plymouth satellite', 'amc rebel sst', 'ford torino', 'ford galaxie 500', 'chevrolet impala', 'plymouth fury iii', 'pontiac catalina', 'amc ambassador dpl', 'dodge challenger se', "plymouth 'cuda 340", 'chevrolet monte carlo', 'buick estate wagon (sw)', 'ford f250', 'chevy c20', 'dodge d200', 'hi 1200d', 'chevrolet impala', 'pontiac catalina brougham', 'ford galaxie 500', 'plymouth fury iii', 'dodge monaco (sw)', 'ford country squire (sw)', 'pontiac safari (sw)', 'chevrolet impala', 'pontiac catalina', 'plymouth fury iii', 'ford galaxie 500', 'amc ambassador sst', 'mercury marquis', 'buick lesabre custom', 'oldsmobile delta 88 royale', 'chrysler newport royal', 'amc matador (sw)', 'chevrolet chevelle concours (sw)', 'ford gran torino (sw)', 'plymouth satellite custom (sw)', 'buick century 350', 'amc matador', 'chevrolet malibu', 'ford gran torino', 'dodge coronet custom', 'mercury marquis brougham', 'chevrolet caprice classic', 'ford ltd', 'plymouth fury gran sedan', 'chrysler new yorker brougham', 'buick electra 225 custom', 'amc ambassador brougham', 'chevrolet impala', 'ford country', 'plymouth custom suburb', 'oldsmobile vista cruiser', 'chevrolet monte carlo s', 'pontiac grand prix', 'dodge dart custom', 'oldsmobile omega', 'ford gran torino', 'buick century luxus (sw)', 'dodge coronet custom (sw)', 'ford gran torino (sw)', 'amc matador (sw)', 'pontiac catalina', 'chevrolet bel air', 'plymouth grand fury', 'ford ltd', 'chevrolet monza 2+2', 'ford mustang ii', 'chevrolet chevelle malibu classic', 'dodge coronet brougham', 'amc matador', 'ford gran torino', 'plymouth volare premier v8', 'cadillac seville', 'chevy c10', 'ford f108', 'dodge d100', 'chevrolet caprice classic', 'oldsmobile cutlass supreme', 'dodge monaco brougham', 'mercury cougar brougham', 'pontiac grand prix lj', 'chevrolet monte carlo landau', 'chrysler cordoba', 'ford thunderbird', 'oldsmobile cutlass salon brougham', 'dodge diplomat', 'mercury monarch ghia', 'chevrolet monte carlo landau', 'ford futura', 'dodge magnum xe', 'chevrolet caprice classic', 'ford ltd landau', 'mercury grand marquis', 'dodge st. regis', 'buick estate wagon (sw)', 'ford country squire (sw)', 'chevrolet malibu classic (sw)', 'chrysler lebaron town @ country (sw)', 'cadillac eldorado', 'oldsmobile cutlass salon brougham', 'oldsmobile cutlass ls']

Statistical Analysis

In [22]:
weight = data['weight'].to_numpy()
percentiles = np.percentile(weight, [25, 50, 75])
print("Weight Percentiles (25th, 50th, 75th):", percentiles)

Weight Percentiles (25th, 50th, 75th): [2223.75 2803.5  3608.  ]

Array Manipulation

In [23]:
acceleration = data['acceleration'].to_numpy()
normalized_acc = (acceleration - np.min(acceleration)) / (np.max(acceleration) - np.min(acceleration))
print("First 5 normalized acceleration values:", normalized_acc[:5])

First 5 normalized acceleration values: [0.23809524 0.20833333 0.17857143 0.23809524 0.14880952]

Broadcasting

In [24]:
horsepower = data['horsepower'].replace('?', np.nan).astype(float)

# Handle missing values
horsepower.fillna(horsepower.mean(), inplace=True)

# Increase by 10%
new_hp = horsepower.to_numpy() * 1.10
print("First 5 updated horsepower values:", new_hp[:5])

First 5 updated horsepower values: [143.  181.5 165.  165.  154. ]

Boolean Indexing

In [25]:
# Origin 2 represents Europe
europe_cars = data[data['origin'] == 2]
avg_displacement = np.mean(europe_cars['displacement'])
print("Average displacement of European cars:", avg_displacement)

Average displacement of European cars: 109.14285714285714

Matrix Operations

In [26]:
matrix = data[['mpg', 'horsepower', 'weight']].replace('?', np.nan).astype(float).to_numpy()
vector = np.array([1, 0.5, -0.2])
dot_product = np.dot(matrix, vector)
print("First 5 results of dot product:", dot_product[:5])

First 5 results of dot product: [-617.8 -641.1 -594.2 -595.6 -602.8]

Sorting

In [32]:
sorted_data = data.sort_values(by='model year', ascending=False)
top_5 = sorted_data['car name'].head(5).tolist()
print("Top 5 cars by model year:", top_5)

Top 5 cars by model year: ['chevy s-10', 'ford ranger', 'dodge rampage', 'vw pickup', 'ford mustang gl']

Correlation

In [33]:
correlation = np.corrcoef(data['mpg'], data['weight'])[0, 1]
print("Correlation between MPG and Weight:", correlation)

Correlation between MPG and Weight: -0.8317409332443352

Conditional Aggregates

In [34]:
mean_mpg_by_cyl = data.groupby('cylinders')['mpg'].mean()
print("Mean MPG by Cylinders:")
print(mean_mpg_by_cyl)

Mean MPG by Cylinders:
cylinders
3    20.550000
4    29.286765
5    27.366667
6    19.985714
8    14.963107
Name: mpg, dtype: float64

Pandas Problems

1. Basic Exploration

In [35]:
# First 10 rows
print("First 10 Rows:\n", data.head(10))

# Shape of dataset
print("\nTotal Rows and Columns:", data.shape)

# Summary statistics
print("\nSummary Statistics:\n", data.describe())

First 10 Rows:
     mpg  cylinders  displacement horsepower  weight  acceleration  model year  \
0  18.0          8         307.0        130    3504          12.0          70
1  15.0          8         350.0        165    3693          11.5          70
2  18.0          8         318.0        150    3436          11.0          70
3  16.0          8         304.0        150    3433          12.0          70
4  17.0          8         302.0        140    3449          10.5          70
5  15.0          8         429.0        198    4341          10.0          70
6  14.0          8         454.0        220    4354           9.0          70
7  14.0          8         440.0        215    4312           8.5          70
8  14.0          8         455.0        225    4425          10.0          70
9  15.0          8         390.0        190    3850           8.5          70

   origin                   car name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino
5       1           ford galaxie 500
6       1           chevrolet impala
7       1          plymouth fury iii
8       1           pontiac catalina
9       1         amc ambassador dpl

Total Rows and Columns: (398, 9)

Summary Statistics:
               mpg   cylinders  displacement       weight  acceleration  \
count  398.000000  398.000000    398.000000   398.000000    398.000000
mean    23.514573    5.454774    193.425879  2970.424623     15.568090
std      7.815984    1.701004    104.269838   846.841774      2.757689
min      9.000000    3.000000     68.000000  1613.000000      8.000000
25%     17.500000    4.000000    104.250000  2223.750000     13.825000
50%     23.000000    4.000000    148.500000  2803.500000     15.500000
75%     29.000000    8.000000    262.000000  3608.000000     17.175000
max     46.600000    8.000000    455.000000  5140.000000     24.800000

       model year      origin
count  398.000000  398.000000
mean    76.010050    1.572864
std      3.697627    0.802055
min     70.000000    1.000000
25%     73.000000    1.000000
50%     76.000000    1.000000
75%     79.000000    2.000000
max     82.000000    3.000000

2. Filtering and Indexing

In [39]:
filtered_data = data[(data['model year'] == 75) & (data['weight'] < 3000)]
filtered_data = filtered_data[['car name', 'weight', 'mpg']]
print("\nCars from 1975 with weight < 3000:\n", filtered_data)

Cars from 1975 with weight < 3000:
               car name  weight   mpg
167     toyota corolla    2171  29.0
168         ford pinto    2639  23.0
169        amc gremlin    2914  20.0
170      pontiac astro    2592  23.0
171      toyota corona    2702  24.0
172  volkswagen dasher    2223  25.0
173         datsun 710    2545  24.0
174         ford pinto    2984  18.0
175  volkswagen rabbit    1937  29.0
177         audi 100ls    2694  23.0
178        peugeot 504    2957  23.0
179        volvo 244dl    2945  22.0
180          saab 99le    2671  25.0
181   honda civic cvcc    1795  33.0

Handling Missing Data

In [40]:
# Check missing values
print("\nMissing Values Before Handling:\n", data.isna().sum())

# Replace missing horsepower with median
data['horsepower'] = data['horsepower'].replace('?', np.nan).astype(float)
data['horsepower'].fillna(data['horsepower'].median(), inplace=True)

print("\nMissing Values After Handling:\n", data.isna().sum())

Missing Values Before Handling:
 mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

Missing Values After Handling:
 mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

/tmp/ipython-input-3731585217.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['horsepower'].fillna(data['horsepower'].median(), inplace=True)

Data Transformation

In [41]:
data['power_to_weight_ratio'] = data['horsepower'] / data['weight']
print("\nAdded 'power_to_weight_ratio' column.")
data.head()

Added 'power_to_weight_ratio' column.

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,power_to_weight_ratio
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu,0.037100
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320,0.044679
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite,0.043655
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst,0.043694
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino,0.040591

Group By

In [42]:
avg_mpg_by_origin = data.groupby('origin')['mpg'].mean()
print("\nAverage MPG by Origin:\n", avg_mpg_by_origin)

Average MPG by Origin:
 origin
1    20.083534
2    27.891429
3    30.450633
Name: mpg, dtype: float64

Sorting

In [44]:
top_10_mpg = data.sort_values(by='mpg', ascending=False).head(10)
print("\nTop 10 Cars by MPG:\n", top_10_mpg[['car name', 'mpg']])

Top 10 Cars by MPG:
                             car name   mpg
322                        mazda glc  46.6
329              honda civic 1500 gl  44.6
325             vw rabbit c (diesel)  44.3
394                        vw pickup  44.0
326               vw dasher (diesel)  43.4
244  volkswagen rabbit custom diesel  43.1
309                        vw rabbit  41.5
330             renault lecar deluxe  40.9
324                       datsun 210  40.8
247                   datsun b210 gx  39.4

Apply Function

In [46]:
# Define the function
def performance_score(row):
    return (row['mpg'] * row['acceleration']) / row['weight']

# Apply to dataframe
data['performance_score'] = data.apply(performance_score, axis=1)
print("\nAdded 'performance_score' column.\n")
data[['car name', 'performance_score']].head()

Added 'performance_score' column.

                    car name  performance_score
0  chevrolet chevelle malibu           0.061644
1          buick skylark 320           0.046710
2         plymouth satellite           0.057625
3              amc rebel sst           0.055928
4                ford torino           0.051754

Visualization Preparation

In [47]:
summary = data.groupby('model year')[['mpg', 'weight', 'horsepower']].mean()
print("\nSummary DataFrame (Average mpg, weight, horsepower per model year):\n", summary.head())

Summary DataFrame (Average mpg, weight, horsepower per model year):
                   mpg       weight  horsepower
model year
70          17.689655  3372.793103  147.827586
71          21.250000  2995.428571  106.553571
72          18.714286  3237.714286  120.178571
73          17.100000  3419.025000  130.475000
74          22.703704  2877.925926   94.203704

Exporting Data

In [48]:
high_mpg = data[data['mpg'] > 30][['mpg', 'cylinders', 'horsepower', 'weight']]
high_mpg.to_csv('high_mpg_cars.csv', index=False)
print("\nExported 'high_mpg_cars.csv' for cars with mpg > 30")

Exported 'high_mpg_cars.csv' for cars with mpg > 30

Finding Anomalies (IQR Method)

In [49]:
Q1 = data['mpg'].quantile(0.25)
Q3 = data['mpg'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Identify outliers
outliers = data[(data['mpg'] < lower_bound) | (data['mpg'] > upper_bound)]
print("\nIQR for MPG:", IQR)
print("\nOutliers in MPG:\n", outliers[['car name', 'mpg', 'model year']])

IQR for MPG: 11.5

Outliers in MPG:
       car name   mpg  model year
322  mazda glc  46.6          80